<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta -->
    <meta charset="utf-8" />
    <title>marionette.dynamiclayout</title>

    <!-- styles -->
    <link rel="stylesheet" href="../node_modules/mocha/mocha.css" />
  </head>

  <body>
    <!-- content -->
    <div id="workboard"></div>
    
    <script type="text/html" id="tmpl-r1">
      <h1><%= name %></h1>
    </script>
    <script type="text/html" id="tmpl-r2">
      <h2><%= name %></h2>
    </script>

    <div id="mocha"></div>

    <!-- tests -->
    <script src="../node_modules/requirejs/require.js"></script>
    <script src="../node_modules/easy-amdtest/dist/easy-amdtest.js"></script>
    <script>
      var testSuite = new EasyAMDTest({
        baseUrl: '../src',
        urlArgs: 'bust=' + (new Date()).getTime(),
        paths: {
          'jquery'              : '/node_modules/jquery/dist/jquery',
          'underscore'          : '/node_modules/underscore/underscore',
          'handlebars'          : '/node_modules/handlebars/dist/handlebars.runtime',
          'backbone'            : '/node_modules/backbone/backbone',
          'marionette'          : '/node_modules/backbone.marionette/lib/core/backbone.marionette',
          'backbone.query'      : '/node_modules/backbone-query/backbone-query',
          'backbone.babysitter' : '/node_modules/backbone.babysitter/lib/backbone.babysitter',
          'backbone.wreqr'      : '/node_modules/backbone.wreqr/lib/backbone.wreqr',
          'dynamiclayout'       : '/dist/amd',
          'mocha'               : '/node_modules/mocha/mocha',
          'proclaim'            : '/node_modules/proclaim/lib/proclaim',
          'sinon'               : '/node_modules/sinon/pkg/sinon'
        },
        shim: {
          'sinon': {
            exports: 'sinon'
          },
          'handlebars': {
            exports: 'Handlebars',
            init: function() {
              this.Handlebars = Handlebars;
              return this.Handlebars;
            }
          }
        }
      }).run({
        name: 'mocha',
        tests: [
          './commander.js',
          './itemController.js',
          './itemView.js',
          './layoutController.js',
          './layoutView.js',
          './functional.js'
        ]
      });
    </script>
  </body>
</html>